<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TITULO-->
    <title>Centech</title>
    <!--IMPORTACIONES-->
    <script type="text/javascript" src="../../app/js/darkmode.js"></script>
    <link rel="stylesheet" href="../../app/css/all.css">
    <link rel="stylesheet" href="../../app/css/header.css">
    <link rel="stylesheet" href="../../app/css/contact/contactbody.css">
    <link rel="shortcut icon" href="../../app/data/image/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="contactbody">
    <header>
        <!--LOGO-->
        <img src="../../app/data/image/logo.png" class="imglh">
        <!--ICONOS-->
        <nav class="navMenu">
            <a href="../../app/view/user.html"><i class="material-icons">account_circle</i>USER</a>
            <a href="../../login.html"><i class="material-icons">person</i>SING OFF</a>
        <!--Modo oscuro-->
        <button type="button" class="btn-dark" onclick="cambiarModo()">
            <img src="../../app/data/image/darkMode.png" id ="imgdark"></button>
        </nav>
    </header>
    <!--FORMULARIO CONTACT-->
    <form>
        <!--TABLA DE LA AGENDA-->
        <table>
            <!--FILA 1-->
            <tr>
                <td>CODE</td>
                <td>PHOTO</td>
                <td>USER</td>
                <td>NAME</td>
                <td>LASTNAME</td>
                <td>EMAIL</td>
                <td>PHONE</td>
                <td>OTHER</td>
            </tr>
            <!--FILA 2-->
            <tr>
                <td>1</td>
                <td><i class="material-icons">person</i></td>
                <td>Luis28</td>
                <td>Luis</td>
                <td>Rodriguez</td>
                <td>lrodriguez@gmail.com</td>
                <td>5732-2132</td>
                <td><a href="../view/error.html"><button type="button" id="button">details..</button></a></td>
            </tr>
            <!--FILA 3-->
            <tr>
                <td>2</td>
                <td><i class="material-icons">person</i></td>
                <td>Fer39</td>
                <td>Fernando</td>
                <td>De Paz</td>
                <td>fdepaz@gmail.com</td>
                <td>5734-2432</td>
                <td><a href="../view/error.html"><button type="button" id="button">details..</button></a></td>
            </tr>
            <!--FILA 4-->
            <tr>
                <td>3</td>
                <td><i class="material-icons">person</i></td>
                <td>Lince23</td>
                <td>Antonio</td>
                <td>Paredes</td>
                <td>aparedes@gmail.com</td>
                <td>1234-5821</td>
                <td><a href="../view/error.html"><button type="button" id="button">details..</button></a></td>
            </tr>
            <!--FILA 5-->
            <tr>
                <td>4</td>
                <td><i class="material-icons">person</i></td>
                <td>Fred30</td>
                <td>Eduardo</td>
                <td>Tortola</td>
                <td>etortola@gmail.com</td>
                <td>8934-5621</td>
                <td><a href="../view/error.html"><button type="button" id="button">details..</button></a></td>
            </tr>
            <!--FILA 6-->
            <tr>
                <td>5</td>
                <td><i class="material-icons">person</i></td>
                <td>Sav45</td>
                <td>Alex</td>
                <td>Molina</td>
                <td>amolina@gmail.com</td>
                <td>1233-6788</td>
                <td><a href="../view/error.html"><button type="button" id="button">details..</button></a></td>
            </tr>
        </table><br>
        <a href="../../app/view/add.html"><button type="button" id="agregar">AGREGAR</button></a><br>
    </form>    
</body>
</html>