<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TITULO-->
    <title>Centech</title>
    <!--IMPORTACIONES-->
    <script type="text/javascript" src="../../app/js/darkmode.js"></script>
    <link rel="stylesheet" href="../../app/css/all.css">
    <link rel="stylesheet" href="../../app/css/header.css">
    <link rel="stylesheet" href="../../app/css/error/errorbody.css">
    <link rel="shortcut icon" href="../../app/data/image/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <!--LOGO-->
        <img src="../../app/data/image/logo.png" class="imglh">
        <!--ICONOS-->
        <nav class="navMenu">
            <a href="../view/contact.html"><i class="material-icons">arrow_back</i>Back</a>
        <!--Modo oscuro-->
        <button type="button" class="btn-dark" onclick="cambiarModo()">
            <img src="../../app/data/image/darkMode.png" id ="imgdark"></button>
        </nav>
    </header>
    <form>
        
    </form>
</body>